.row:hover, .row:focus {
  background-color: #ddd;
}

.dropdown-content {
  display: none;
}

.dropdown-content td {
  background: rgb(145, 124, 124);
  color: white;
}

.dropdown-content th {
  background: #409cd8;
}

.dropdown-content td, .dropdown-content th {
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.show {
  display: table-row-group;
}

.name {
  width: 400px;
}

table {
  background: white;
  opacity: 0.6;
  width: 750px;
  border-collapse: collapse;
}

th {
  background: #2891d7;
  color: white;
  font-weight: bold;
}

.name {
  text-align: left;
}

td, th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
}

.labels tr td {
  background-color: #2cc16a;
  font-weight: bold;
  color: #fff;
}

.label tr td label {
  display: block;
}

table.mobile {
  width: 321px;
}

.mobile .dropdown-content td, .mobile .dropdown-content th {
  font-size: 12px;
  padding: 3px;
}

.mobile td, .mobile th {
  padding: 8px;
  font-size: 16px;
}